/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccccc;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 100%; /* 16px (12pt) default font size | 1em is 100% default font size */
    color: #000000;
}

h1{
    padding-bottom: 10px;
    font-size: 2.25em; /* 36px / 16px = 2.25em or 225%  */
    font-weight: bold;
}

h2{
    padding-bottom: 10px;
    font-size: 1.4em; /* 34px */
    font-weight: bold;
}

h3{
    padding-bottom: 10px;
    font-size: 2em; /* 32px */
    font-weight: bold;
}

p{
    padding-bottom: 10px;
    line-height: 1.2;
}

 ul{
    padding-left: 40px;
    margin-bottom: 16px;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    background-color: #ffffff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

.header-text {
    display: none;
}

header{
    /* background-color: palevioletred; */
    text-align: center;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    flex: 1 0 100%;
    height: 500px;
    background-image: url(../images/me1.png);

}

nav{
    background-color: rgb(81, 32, 32);
    flex: 1 0 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 10px;
    margin-bottom: 0;
}

nav a:link, nav a:visited{
    /* background-color: #757575; */
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: #fff;
    /* width: 150px; */
    display: block;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 15px;
}

nav a:hover, nav a:active{
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    cursor: pointer;
    height: 35px;
    margin-left: 20px;
}


main{
    background-color: rgb(222, 222, 222);
    flex: 1 1 70%; /* 800px - target / context = result */
    padding: 5px 10px;
}

.contact-form {
    max-width: 500px;
    font-family: Arial, sans-serif;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.contact-form span {
    font-weight: normal;
    font-size: 0.8em;
    color: #666;
}

.name-fields {
    display: flex;
    gap: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

.contact-form input::placeholder {
    color: #999;
}

.checkbox {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}
/*.checkbox input {
    margin: 0 4px 0 0;   
}*/

button {
    margin-top: 25px;
    padding: 10px 25px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

main h1{
    color: #000000;
}

.portfolio{
    display: flex;
    justify-content: space-around;
}

.portfolio p{
    text-align: center;
}

aside{
    background-color: rgb(130, 113, 113);
    flex: 1 1 30%; /* 400px - target / context (1200) = result */
    padding: 5px 10px;
}

aside ul {
    margin: 0;
    padding-left: 20px;
    list-style-position: inside;
}

footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    flex: 1 0 100%;
    padding: 10px;
}


/* media queries for tablet screens 800px or smaller */
@media screen and (max-width: 800px){

    body{
        background-color: #333;
    }

    .header-text {
        display: block;
        color: #ffffff;
    }
    
    header{
        
        height: 100px;
        background-color: #333;
    }

    nav a:link, nav a:visited{
    
        padding: 10px 20px;
        margin-right: 20px;
    
}

main{

    flex: 1 1 60%; 
}

aside{
    flex: 1 1 40%; 


}

} 

/* media queries for mobile screens 600px or smaller */
@media screen and (max-width: 600px){

    body{
        background-color: yellow;
    }

    header{
        
        height: 50px;
        background-color: #333;
        
    }

    .container{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    nav a:link, nav a:visited{

    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

main, aside{
    padding: 20px;
}


footer{
    text-align: center;

}

}